style.css


#left{
	align-items: flex-end;
}
td{
	padding-left: 0px;
}

a{
	color: white;
	text-decoration: none;
}

.image1{
	align-items: center;
}

image{
	border-radius: 50px;
}

.maintable {
	margin:10px 10px 10px 10px;
	border-radius: 13px;
}

#about{
	vertical-align: bottom;
}

body{
	background-color: white;
}

.header{
	padding: 2px 2px 2px 2px;
	align-content: center;
	color: white;
}

.header:hover{
	background-color: darkorange;
}
.footer {
	display: flex;
	align-content: flex-end;
	background-color: blueviolet;
	border-radius: 14px;
	position: ;
}
body:hover{
	background-color: pink;
}
img{
	border-radius: 15px;
}